/**
 * @tokens Design Tokens
 * @presenter Color
 */

:root {
  --utrecht-font-bold: 700;
  --utrecht-font-normal: 400;

  --utrecht-fontsize-xl: 2rem;

  --utrecht-space-inline-1: 0.25rem;
  --utrecht-space-block-1: 0.25rem;

  --utrecht-layout-1: 1rem;

  --utrecht-heading-color: var(--utrecht-black);
  --utrecht-header-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-header-font-weight: 700;
  --utrecht-heading-1-font-size: 1rem; /* 16px */
  --utrecht-heading-1-line-height: 1.4; /* 33,6px */
  --utrecht-heading-1-margin: 0.67rem 0;

  --utrecht-heading-2-font-size: 1.25rem; /* 20px */
  --utrecht-heading-2-line-height: 1.2; /* 24px */
  --utrecht-heading-2-margin: 1.5rem 0 0.3rem;

  --utrecht-heading-3-font-size: 1.25rem; /* 20px */
  --utrecht-heading-3-font-weight: 400;
  --utrecht-heading-3-line-height: 1.2; /* 24px */
  --utrecht-heading-3-margin: 1rem 0 0.2rem;

  --utrecht-heading-4-font-size: 1.125rem; /* 18px */
  --utrecht-heading-4-font-weight: 300;
  --utrecht-heading-4-line-height: 1.25; /* 22,5px */
  --utrecht-heading-4-margin: 1.2rem 0 0.3rem;

  --utrecht-heading-5-font-size: 0.9rem; /* 14.4px */
  --utrecht-heading-5-font-weight: 400;
  --utrecht-heading-5-line-height: 1.333; /* 22.4px */
  --utrecht-heading-5-margin: 1rem 0 0.2rem;
  --utrecht-heading-5-text-transform: uppercase;
  --utrecht-heading-5-letter-spacing: 0.05rem; /* 0.72px */

  --utrecht-heading-6-font-size: 0.9rem; /* 14.4px */
  --utrecht-heading-6-font-weight: 400;
  --utrecht-heading-6-line-height: 1.333; /* 22.4px */
  --utrecht-heading-6-margin: 1rem 0 0.2rem;
  --utrecht-heading-6-text-transform: uppercase;
  --utrecht-heading-6-letter-spacing: 0.05rem; /* 0.72px */

  --utrecht-paragraph-color: var(--utrecht-black);
  --utrecht-paragraph-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-paragraph-font-size: 1rem; /* 16px */
  --utrecht-paragraph-font-weight: 400;
  --utrecht-paragraph-line-height: 1.4; /* 22.4px */

  --utrecht-paragraph-intro-font-size: 1.2rem;

  --utrecht-link-color: var(--utrecht-blue-35);
  --utrecht-link-color-active: var(--utrecht-blue-35);
  --utrecht-link-color-hover: var(--utrecht-blue-40);
  --utrecht-link-color-visited: var(--utrecht-blue-40);

  --utrecht-button-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-button-padding-inline: 1.25rem;
  --utrecht-button-padding-block: 0.6875rem;
  --utrecht-button-border-radius: 0.1875rem;
  --utrecht-button-focus-border-color: var(--utrecht-blue-40);
  --utrecht-button-focus-border-width: 0.125rem;
  --utrecht-button-margin: 0 0.5rem 0.5rem 0;
  --utrecht-button-padding: 0.75rem 2.5rem 0.75rem 1rem;

  --utrecht-button-primary-action-background-color: var(--utrecht-blue-35);
  --utrecht-button-primary-action-color: var(--utrecht-blue-35);
  --utrecht-button-primary-action-hover-background-color: var(--utrecht-blue-40);
  --utrecht-button-primary-action-hover-color: var(--utrecht-white);
  --utrecht-button-primary-action-disabled-background-color: var(--utrecht-grijs-licht);
  --utrecht-button-primary-action-disabled-color: var(--utrecht-white);
  --utrecht-button-primary-action-disabled-color: var(--utrecht-white);

  --utrecht-button-secondary-action-background-color: var(--utrecht-white);
  --utrecht-button-secondary-action-color: var(--utrecht-blue-35);
  --utrecht-button-secondary-action-border-color: var(--utrecht-blue-35);
  --utrecht-button-secondary-action-border-width: 0.125rem; /* 2px */
  --utrecht-button-secondary-action-hover-background-color: var(--utrecht-white);
  --utrecht-button-secondary-action-hover-color: var(--utrecht-blue-35);
  --utrecht-button-secondary-action-hover-border-color: var(--utrecht-blue-40);
  --utrecht-button-secondary-action-disabled-background-color: var(--utrecht-white);
  --utrecht-button-secondary-action-disabled-color: var(--utrecht-grey-80);
  --utrecht-button-secondary-action-disabled-border-color: var(--utrecht-grey-80);

  /* Formulieren */

  --utrecht-form-input-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-form-input-font-size: 1rem;
  --utrecht-form-input-background-color: var(--utrecht-white);

  --utrecht-form-input-border-width: 1px;
  --utrecht-form-input-border-width-bottom: 1px;
  --utrecht-form-input-border-color: var(--utrecht-grey-30);
  --utrecht-form-input-border-radius: 0;
  --utrecht-form-input-focus-border-color: var(--utrecht-grey-80);

  --utrecht-form-input-padding: 0.5em 0.75em;
  --utrecht-form-input-height: 42px;
  --utrecht-form-input-placeholder-color: var(--utrecht-grey-40);
  --utrecht-form-label-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-form-label-font-size: 1em;
  --utrecht-form-label-font-weight: 700;
  --utrecht-form-option-label-font-weight: 700;

  --utrecht-form-textarea: normal;
  --utrecht-form-select: normal;

  /*Oh oh Den Haag*/
  --utrecht-button-padding-inline: 1.25rem;
  --utrecht-button-padding-block: 0.6875rem;
  --utrecht-button-border-radius: 0.1875rem;
  --utrecht-button-focus-border-width: 0.125rem;
  --utrecht-button-font-family: "TheMix", sans-serif;

  /* example design tokens to consider */
  --utrecht-article-line-height: 30px;
  --utrecht-border-color-subtle: gray;
  --utrecht-color-action-primary: red;
  --utrecht-color-dataviz-1: red;
  --utrecht-color-dataviz-2: blue;
  --utrecht-color-dataviz-3: green;
  --utrecht-color-dataviz-blue: blue;
  --utrecht-color-dataviz-red: red;
  --utrecht-color-feedback-danger: red;
  --utrecht-color-feedback-info: blue;
  --utrecht-color-feedback-safe: green;
  --utrecht-color-feedback-warning: orange;
  --utrecht-document-background-color: white;
  --utrecht-document-color: black;
  --utrecht-figure-caption-color: black;

  --utrecht-font-family-sans-serif: Arial, sans-serif;
  --utrecht-font-family-serif: "Times New Roman", serif;
  --utrecht-form-input-background-color: white;
  --utrecht-form-input-border-color: silver;
  --utrecht-form-input-border-radius: 3px;
  --utrecht-form-input-focus-border-color: var(--utrecht-blue-20);
  --utrecht-form-input-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-form-input-font-size: 16px;
  --utrecht-form-input-height: 40px;
  --utrecht-form-input-padding-inline: 0.5rem;
  --utrecht-form-input-placeholder-color: rgb(118 118 118);
  --utrecht-form-label-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-form-label-font-size: 0.75rem;
  --utrecht-form-label-font-weight: bold;
  --utrecht-form-option-label-font-weight: normal;
  --utrecht-non-essential-font-size: 14px;
  --utrecht-non-essential-line-height: 18px;
  --utrecht-table-caption-font-family: var(--utrecht-font-family-serif);
  --utrecht-table-caption-font-weight: 700;
  --utrecht-table-font-family: var(--utrecht-font-family-sans-serif);
  --utrecht-table-font-size: 16px;
  --utrecht-table-header-font-size: 11px;
  --utrecht-table-header-text-transform: uppercase;
  --utrecht-text-max-width: 600px;
}

@media (min-width: 35em) {
  :root {
    --utrecht-heading-1-font-size-min-width-35em: 1.75em; /* 28px on tablet min-width-35e */
    --utrecht-paragraph-intro-font-size-min-width-35em: 1.25em; /* 20px on tablet min-width-35e */
  }
}

@media (min-width: 60em) {
  :root {
    --utrecht-heading-1-font-size-min-width-60em: 2em; /* 32px on desktop min-width-60em */
    --utrecht-paragraph-intro-font-size-min-width-60em: 1.25em; /* 20px on desktop min-width-60em */
  }
}
