.utrecht-link {
  color: var(--demo-link-color, blue);
  text-decoration: none;
}

.utrecht-link__text {
  margin-inline-start: 1ch;
}

.utrecht-link:hover .utrecht-link__text {
  border-bottom: 1px solid currentColor;
}
