# 3rd-party scripts must never be installed without security review

pnpm.lock @nl-design-system/kernteam-maintainer
package-lock.json @nl-design-system/kernteam-maintainer
yarn.lock @nl-design-system/kernteam-maintainer
