# See: https://nldesignsystem.nl/codeowners

# Protect this file itself (order matters, keep this line last):
.github/CODEOWNERS @nl-design-system/gemeente-utrecht-maintainer @nl-design-system/kernteam-maintainer
