@import "../common/focus/bem";

.utrecht-menulijst {
  border-bottom: var(--utrecht-border-width-md) solid var(--utrecht-color-grey-90);
  border-top: var(--utrecht-border-width-md) solid var(--utrecht-color-grey-90);
  font-family: var(--document-font-family);
  padding-block-end: var(--utrecht-space-block-sm);
  padding-block-start: var(--utrecht-space-block-sm);
  padding-inline-start: 0;
}

.utrecht-menulijst__item {
  list-style: none;
  margin-block-end: var(--utrecht-space-block-sm);
  margin-block-start: var(--utrecht-space-block-sm);
}

.utrecht-menulijst__item a:link {
  background-image: var(--utrecht-menulijst-item-background-image, none);
  background-position: 0 0.25em;
  background-repeat: no-repeat;
  color: var(--utrecht-menulijst-item-color, var(--utrecht-link-color, blue));
  display: block;
  font-weight: var(--utrecht-typography-weight-scale-bold-font-weight);
  padding-inline-start: var(--utrecht-space-block-md);
  text-decoration: none;
}

.utrecht-menulijst__item a:hover {
  color: var(--utrecht-menulijst-item-hover-color, var(--utrecht-link-hover-color, red));
}

.utrecht-menulijst__link--focus {
  @include utrecht-focus;
}

.utrecht-menulijst__link--focus-visible {
  @include utrecht-focus-visible;
}
