.utrecht-menulijst {
  border-top: 2px solid var(--utrecht-color-grey-90);
  border-bottom: 2px solid var(--utrecht-color-grey-90);
  font-family: var(--document-font-family);
  padding-block-start: var(--utrecht-space-block-sm);
  padding-block-end: var(--utrecht-space-block-sm);
  padding-inline-start: 0;  
}

.utrecht-menulijst__item {
  margin-block-start: 0.75em;
  margin-block-end: 0.75em;
  list-style: none;
}

.utrecht-menulijst__item a {
  display: block;
  color: red;
  /* color: var(--utrecht-menulijst-item-color, var(--utrecht-link-color, blue)); */
  font-weight: var(--utrecht-typography-weight-scale-bold-font-weight);
  background: url("https://huisstijl.utrecht.nl/typo3conf/ext/alternet_sitepackage/Resources/Public/Images/svg/pijltje-blauw.svg")
    0 0.25em no-repeat;
  padding-inline-start: 1em;
}

.utrecht-menulijst__item a:hover {
  color: var(--utrecht-menulijst-item-hover-color, var(--utrecht-link-hover-color, red));
}

.utrecht-menulijst__link {
  text-decoration: none;
}