# We do not use npm, but if it was ever run by accident, this should make sure that pre- and post-install scripts will
# NOT run. This is more or less in line with pnpm behaviour where pre- and post-install scripts need to be added using
# pnpm approve-builds
ignore-scripts=true
