@import "@utrecht/component-library-css/dist/index.css";
@import "@utrecht/design-tokens/dist/theme.css";
@import "@nl-design-system-candidate/code-css/code.css";
@import "@nl-design-system-candidate/code-block-css/code-block.css";
@import "@nl-design-system-candidate/heading-css/heading.css";
@import "@nl-design-system-candidate/link-css/link.css";
@import "@nl-design-system-candidate/paragraph-css/paragraph.css";

.utrecht-theme.utrecht-theme--documentation-website {
  --utrecht-page-header-content-padding-block-end: 2rem;
  --utrecht-nav-bar-link-padding-block-start: 1rem;
  --utrecht-nav-bar-link-padding-block-end: 1rem;
}

.utrecht-nav-bar {
  border-block-end: 1px solid #ccc;
  border-block-start: 1px solid #ccc;
}

.utrecht-nav-list__item {
  flex: 1 1 auto;
}

.utrecht-nav-list__link {
  --utrecht-link-text-decoration: none;
  --utrecht-link-color: var(--utrecht-color-black);
  --utrecht-link-hover-text-decoration-thickness: 1px;

  display: flex;
  inline-size: 100%;
  justify-content: center;
  max-inline-size: none;
}

.utrecht-drawer .utrecht-nav-list {
  flex-direction: column;
}

.utrecht-drawer .utrecht-link {
  justify-content: start;
}
