.utrecht-theme {
  --utrecht-card-background-color: var(--utrecht-color-blue-90);
  --utrecht-card-padding-block-end: 1em;
  --utrecht-card-padding-block-start: 1em;
  --utrecht-card-padding-inline-end: 1em;
  --utrecht-card-padding-inline-start: 1em;
  --utrecht-card-column-gap: 1em;
}
