@use "mixin" as *;

$utrecht-justify-content: (flex-start, flex-end, center, space-between) !default;
$utrecht-align-items: (flex-start, flex-end, center) !default;
$utrecht-flex-direction: (column, column-reverse, row, row-reverse) !default;
$utrecht-breakpoints: (
  "sm": 600px,
  "md": 960px,
  "lg": 1280px,
) !default;

.utrecht-grid {
  // CSS Custom Properties for configuration
  --_utrecht-grid-columns-total: 12;
  --_utrecht-grid-columns-default: 4;
  --_utrecht-grid-display: flex;
  --_utrecht-grid-flex-wrap: wrap;
  --_utrecht-grid-box-sizing: border-box;
  --_utrecht-grid-flex: 0 0 auto;

  @include utrecht-grid-container;

  container-type: inline-size;

  // Modifier classes
  @include utrecht-grid-responsive-classes($utrecht-breakpoints);
  @include utrecht-grid-justify-content(null, $utrecht-justify-content);
  @include utrecht-grid-align-items(null, $utrecht-align-items);
  @include utrecht-grid-flex-direction($utrecht-flex-direction);
  @include utrecht-grid-spacing;
}

.utrecht-grid__cell {
  @include utrecht-grid-cell;
}
