<section class="utrecht-dataviz-legend">
  <h2 class="utrecht-dataviz-legend__heading">Waterhoogte t.o.v. NAP (cm)</h2>
  <dl class="utrecht-dataviz-legend__list">
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="rood" value="#D52B1E" style="color: #d52b1e"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Extreem hoogwater</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="oranje" value="#E17000" style="color: #e17000"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Hoogwater / Stormvloed</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="geel" value="#FFDE12" style="#FFDE12"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Verhoogde waterstand</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data
          class="utrecht-color-sample"
          role="img"
          aria-label="lichtgroen"
          value="#673327"
          style="color: #673327"
        ></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Licht verhoogd</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="groen" value="#673327" style="color: #673327"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Normale waterstand</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="bruin" value="#673327" style="color: #673327"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Verlaagde waterstand</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="blauw" value="#007BC7" style="color: #007bc7"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Geen klasse-indeling</dd>
    </div>
    <div class="utrecht-dataviz-legend__item">
      <dt class="utrecht-dataviz-legend__item-key">
        <data class="utrecht-color-sample" role="img" aria-label="grijs" value="#cccccc" style="color: #cccccc"></data>
      </dt>
      <dd class="utrecht-dataviz-legend__item-value">Mogelijk gedateerde waarde</dd>
    </div>
  </dl>
</section>
