@mixin utrecht-focus {
    outline: 2px var(--utrecht-focus-border-type) var(--utrecht-focus-outline-color);
    color: var(--utrecht-focus-color);
    box-shadow: 0 0 0 2px var(--utrecht-focus-box-shadow-color);
    outline-offset: 0;
    background-color: var(--utrecht-focus-background-color);
}