@import "../../../components/article/css/mixin";
@import "../../../components/heading-1/css/mixin";
@import "../../../components/heading-2/css/mixin";
@import "../../../components/heading-3/css/mixin";
@import "../../../components/heading-4/css/mixin";
@import "../../../components/paragraph/css/mixin";
@import "../../../components/code/css/mixin";
@import "../../../components/code-block/css/mixin";
@import "../../../components/ordered-list/css/mixin";
@import "../../../components/unordered-list/css/mixin";
@import "../../../components/table/css/mixin";
@import "../../../components/link/css/mixin";

/* allow `sbdocs` prefix */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

/* allow `nldesignsystem` prefix */
/* stylelint-disable custom-property-pattern */

@mixin reset-font-smoothing() {
  -webkit-font-smoothing: initial !important;
  -moz-osx-font-smoothing: initial !important;
}

@mixin reset-dfn() {
  font-style: normal;
}

.docs-story {
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
}

.utrecht-reduced-motion {
  --utrecht-motion-max-animation-duration: 0;
}

.no-style .docs-story,
.no-style .docs-story * {
  all: revert !important;
}

.sbdocs:not(:has(.sbdocs-preview)) {
  * {
    @include reset-font-smoothing;

    --utrecht-paragraph-margin-block-start: 1em;
    --utrecht-paragraph-margin-block-end: 1em;
  }
}
