@import "@utrecht/article-css/css/mixin";
@import "@utrecht/heading-1-css/css/mixin";
@import "@utrecht/heading-2-css/css/mixin";
@import "@utrecht/heading-3-css/css/mixin";
@import "@utrecht/heading-4-css/css/mixin";
@import "@utrecht/paragraph-css/css/mixin";
@import "@utrecht/code-css/css/mixin";
@import "@utrecht/code-block-css/css/mixin";
@import "@utrecht/ordered-list-css/css/mixin";
@import "@utrecht/unordered-list-css/css/mixin";
@import "@utrecht/table-css/css/mixin";
@import "@utrecht/link-css/css/mixin";

/* allow `sbdocs` prefix */
/* stylelint-disable selector-class-pattern */
/* stylelint-disable no-descending-specificity */

/* allow `nldesignsystem` prefix */
/* stylelint-disable custom-property-pattern */

@mixin reset-font-smoothing() {
  -webkit-font-smoothing: initial !important;
  -moz-osx-font-smoothing: initial !important;
}

@mixin reset-dfn() {
  font-style: normal;
}

.docs-story {
  /* Avoid "Show code"/"Hide code" button to become invisible for stories that render no visible content, using `min-block-size` */
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
  min-block-size: 2em;
}

.utrecht-reduced-motion {
  --utrecht-motion-max-animation-duration: 0;
}

.no-style-decorator *,
.no-style .docs-story,
.no-style .docs-story * {
  all: revert !important;
}

.sbdocs:not(:has(.sbdocs-preview)) {
  * {
    @include reset-font-smoothing;

    --utrecht-paragraph-margin-block-start: 1em;
    --utrecht-paragraph-margin-block-end: 1em;
  }
}
