* {
  transition: 400ms ease-in-out all;
}

@media (prefers-reduced-motion: reduce) {
  * {
    transition-duration: 0ms;
  }
}

*[hidden] {
  display: none !important;
}

.utrecht-text-content {
  /* TODO: calculate based on font-family and font-size */
  max-inline-size: 60em;
}

/* 
.utrecht-fade > * {
  position: absolute;
  inset-inline-start: 0;
  inset-block-start: 0;
} */

.example-optional-logo {
  display: none;
}

.utrecht-logo {
  block-size: 100%;
}

.utrecht-theme .utrecht-logo-image,
.purmerend-theme .purmerend-logo-image,
.ams-theme .ams-logo-image,
.rods-theme .rods-logo-image,
.rijkshuisstijl-theme .rijkshuisstijl-logo-image {
  opacity: 100%;
}

.rijkshuisstijl-theme .utrecht-logo {
  margin-inline-end: auto;
  margin-inline-start: auto;
}

.purmerend-theme .utrecht-logo {
  margin-inline-end: 0;
  margin-inline-start: auto;
}

.example-small-root {
  --example-inline-size: 1280px;
  --example-block-size: 1024px;
  --example-scale: 0.5;

  block-size: calc(var(--example-scale, 1) * var(--example-block-size));
  inline-size: calc(var(--example-scale, 1) * var(--example-inline-size));
  max-block-size: calc(var(--example-scale, 1) * var(--example-block-size));
  max-inline-size: calc(var(--example-scale, 1) * var(--example-inline-size));
  outline: 5px solid red;
}

.example-small-root__contents {
  block-size: var(--example-block-size);
  inline-size: var(--example-inline-size);
  max-block-size: var(--example-block-size);
  max-inline-size: var(--example-inline-size);
  scale: var(--example-scale);
  translate: calc(-0.5 * var(--example-scale, 1) * var(--example-inline-size))
    calc(-0.5 * var(--example-scale, 1) * var(--example-block-size));
}

.example-docs-page {
  margin-inline: auto;
  max-inline-size: 40em;
}
