.utrecht-logo {
  max-width: var(--utrecht-logo-max-width);
  max-height: var(--utrecht-logo-max-height);
}

.utrecht-logo__decoration-1 {
  fill: var(--utrecht-logo-decoration-1-color, #fff);
}

.utrecht-logo__decoration-2 {
  fill: var(--utrecht-logo-decoration-2-color, #c00);
}

.utrecht-logo__decoration-3 {
  fill: var(--utrecht-logo-decoration-3-color, #ffb70b);
}
