@import "./component/utrecht/page-footer/custom";
@import "./responsive";

:root {
  --utrecht-menulijst-item-background-image: url("./pijltje.svg");
  --utrecht-search-bar-input-background-image: url("./icoon-zoek-rood.svg");
  --utrecht-select-background-image: url("./arrow-dropdown.svg");
  --utrecht-link-list-marker-background-image: url("./pijltje-zwart.svg");
}

utrecht-page-footer,
.utrecht-page-footer {
  --utrecht-link-list-marker-background-image: url("./pijltje-wit.svg");
}
