@mixin utrecht-card-list {
  display: flex;
  margin-block-end: calc(
    var(--utrecht-space-around, 0) *
      var(--utrecht-card-list-margin-block-end, var(--utrecht-paragraph-margin-block-end, 0))
  );
  margin-block-start: calc(
    var(--utrecht-space-around, 0) *
      var(--utrecht-card-list-margin-block-start, var(--utrecht-paragraph-margin-block-start, 0))
  );
  padding-inline-start: var(--utrecht-card-list-padding-inline-start, 0);
}

@mixin utrecht-card-list__item {
  background-color: var(--utrecht-card-list-background-color);
  block-size: 100%;
  inline-size: 100%;
  list-style: none;
  margin-block-end: var(--utrecht-card-list-item-margin-block-end);
  margin-block-start: var(--utrecht-card-list-item-margin-block-start);
  min-block-size: 312px;
  padding-inline-start: var(--utrecht-card-list-item-padding-inline-start, 1em);
}

@mixin utrecht-card-list__item-hover {
  cursor: var(--utrecht-card-list-item-hover-cursor, pointer);
  text-decoration: var(--utrecht-card-list-item-hover-text-decoration, underline);
  text-decoration-skip-ink: var(--utrecht-card-list-item-hover-text-decoration-skip-link, none);
  text-decoration-thickness: var(--utrecht-card-list-item-hover-text-decoration-thickness);
}

@mixin utrecht-card-list__item-image {
  display: block;
  object-fit: cover;
}

@mixin utrecht-card-list__item-content {
  background-color: var(--utrecht-color-blue-90);
  padding-block-end: var(--utrecht-card-list-item-content-padding-block-end, 1em);
  padding-block-start: var(--utrecht-card-list-item-content-padding-block-start);
  padding-inline-end: var(--utrecht-card-list-item-content-padding-inline-end, 1em);
  padding-inline-start: var(--utrecht-card-list-item-content-padding-inline-start, 1em);
}
