@mixin utrecht-card-list {
  column-gap: var(--utrecht-card-list--column-gap, 2em);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--utrecht-card-list-item-max-inline-size), 0fr));
  margin-block-end: calc(
    var(--utrecht-space-around, 0) *
      var(--utrecht-card-list-margin-block-end, var(--utrecht-paragraph-margin-block-end, 0))
  );
  margin-block-start: calc(
    var(--utrecht-space-around, 0) *
      var(--utrecht-card-list-margin-block-start, var(--utrecht-paragraph-margin-block-start, 0))
  );
  padding-inline-start: var(--utrecht-card-list-padding-inline-start, 0);
  row-gap: var(--utrecht-card-list--row-gap, 2em);
}

@mixin utrecht-card-list__item {
  block-size: 100%;
  inline-size: 100%;
  list-style: none;
  max-inline-size: var(--utrecht-card-list-item-max-inline-size, 350px);
}

@mixin utrecht-card-list__item--hover {
  cursor: var(--utrecht-card-list-item-hover-cursor, pointer);
  text-decoration: var(--utrecht-card-list-item-hover-text-decoration, underline);
  text-decoration-skip-ink: var(--utrecht-card-list-item-hover-text-decoration-skip-link, none);
  text-decoration-thickness: var(--utrecht-card-list-item-hover-text-decoration-thickness);
}

@mixin utrecht-card-list__item-image {
  display: block;
  object-fit: cover;
}

@mixin utrecht-card-list__item-title {
  margin-block-end: var(--utrecht-card-list-item-title-margin-block-end, var(--utrecht-space-block-md));
}

@mixin utrecht-card-list__item-title-link {
  color: var(--utrecht-card-list-item-title-link-color, var(--utrecht-link-color));
}

@mixin utrecht-card-list__item-content {
  background-color: var(--utrecht-card-list-item-content-background-color);
  padding-block-end: var(--utrecht-card-list-item-content-padding-block-end, var(--utrecht-space-block-md));
  padding-block-start: var(--utrecht-card-list-item-content-padding-block-start, var(--utrecht-space-block-md));
  padding-inline-end: var(--utrecht-card-list-item-content-padding-inline-end, var(--utrecht-space-inline-md));
  padding-inline-start: var(--utrecht-card-list-item-content-padding-inline-start, var(--utrecht-space-inline-md));
}
