/* stylelint-disable selector-class-pattern */

.docs-story {
  background-color: var(--utrecht-document-background-color);
  color: var(--utrecht-document-color);
}

.utrecht-reduced-motion {
  --utrecht-motion-max-animation-duration: 0;
}
