/**
 * @tokens Colors
 * @presenter Color
 */
:root {
  --utrecht-rood: #cc0000;
  --utrecht-geel: black;
  --utrecht-blauw: black;
  --utrecht-wit: black;
  --utrecht-zwart: black;
  --utrecht-paars: black;
  --utrecht-magenta: black;
  --utrecht-oranje: black;
  --utrecht-lime: black;
  --utrecht-groen: black;
  --utrecht-cyaan: black;
}
