/**
 * @tokens Utrecht
 * @presenter Color
 */
:root {

  --utrecht-font-family-sans-serif: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
  --utrecht-font: 400 1em/1.4 var(--utrecht-font-family-sans-serif);
  --utrecht-font-family-serif: "Times New Roman", serif;

  --utrecht-rood-3: #cc0000; /*basis rood*/
  --utrecht-rood-4: #d94e51; /*rood variant*/
  --utrecht-geel-3: #ffcc00; /*basis geel*/
  --utrecht-geel-4: #ffe44d; /*geel variant*/
  --utrecht-geel-5: #ffeebb; /*geel variant*/
  --utrecht-blauw-2: #2a5587; /*basis link en knoppen donkerblauw*/
  --utrecht-blauw-3: #3669a5; /*blauw variant bij hover/focus  */
  --utrecht-blauw-4: #99caef; /*blauw variant achtergrond kleur voor contact blokkent*/
  --utrecht-blauw-5: #dbeaf6; /*blauw variant achtergrond kleur voor spotlight*/
  --utrecht-grijs-2: #888888; /*Border grijs*/
  --utrecht-grijs-3: #727272; /*basis grijs*/
  --utrecht-grijs-4: #e5e5e5; /*grijs variant voor achtergrond content*/
  --utrecht-grijs-5: #f2f2f2; /*grijs variant voor achtergrond templates*/
  --utrecht-zwart: #000000; /*basis zwart*/
  --utrecht-wit: #ffffff; /*basis wit*/
}
