/**
 * @tokens Colors
 * @presenter Color
 */
:root {
  --utrecht-paragraph-color: var(--utrecht-donkergrijs);
  --utrecht-link-color: var(--utrecht-blauw);
  --utrecht-heading-color: var(--utrecht-zwart);
}
