.utrecht-custom-theme {
  --utrecht-space-around: 1;
  --utrecht-page-padding-inline-start: 2rem;
  --utrecht-page-padding-inline-end: 2rem;
  --utrecht-page-header-padding-block-start: 2rem;
  --utrecht-page-header-padding-block-end: 2rem;
}
