name: Continuous Delivery

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  continuous-integration:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v2
        with:
          node-version: "16.13.x"

      - name: Install
        run: |
          npm ci
          npm ls

      - name: "Continuous Integration: lint"
        run: |
          npm run lint --if-present

      - name: "Continuous Integration: build"
        run: |
          npm run build --if-present

      - name: "Continuous Integration: test"
        run: |
          npm run test --if-present

      - name: "Retain build artifact: Storybook"
        uses: actions/upload-artifact@v2
        with:
          name: storybook
          path: packages/storybook/dist/
          retention-days: 1

  publish-storybook:
    runs-on: ubuntu-latest
    needs: continuous-integration
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v2

      - name: "Restore build artifact: Storybook"
        uses: actions/download-artifact@v2
        with:
          name: storybook
          path: packages/storybook/dist/

      - name: Continuous Deployment to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4.1.7
        with:
          branch: gh-pages
          folder: packages/storybook/dist/

  publish-npm:
    runs-on: ubuntu-latest
    needs: continuous-integration
    if: github.ref == 'refs/heads/main'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Node.js version
        uses: actions/setup-node@v2
        with:
          node-version: "16.13.x"

      - name: "Continuous Deployment: install"
        run: |
          npm ci
          npm ls

      - name: "Continuous Deployment: build"
        run: |
          npm run build --if-present

      - name: "Continuous Deployment: publish to GitHub repository"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
          GIT_AUTHOR_NAME: "NL Design System"
          GIT_COMMITTER_EMAIL: ${{ secrets.GIT_COMMITTER_EMAIL }}
          GIT_COMMITTER_NAME: "NL Design System"
        run: |
          git push --set-upstream origin HEAD
          npm run release -- --yes

      - name: "Continuous Deployment: publish to npm"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: |
          npm config set "//registry.npmjs.org/:_authToken" "${NPM_TOKEN}"
          npm run publish -- --no-verify-access --yes
          npm config delete "//registry.npmjs.org/:_authToken"

  visual-regression-test:
    runs-on: ubuntu-latest
    needs: continuous-integration
    if: github.event.pull_request.draft == false

    steps:
      - name: "Restore build artifact: Storybook"
        uses: actions/download-artifact@v2
        with:
          name: storybook
          path: packages/storybook/dist/

      - name: "Continuous Integration: visual regression test"
        # if: contains( github.event.pull_request.labels.*.name, 'visual regression test')
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        run: |
          npx -p @percy/storybook@^3.3.1 percy-storybook --build_dir packages/storybook/dist/ --widths=1280

  visual-regression-snapshot:
    runs-on: ubuntu-latest
    needs: continuous-integration
    if: github.ref == 'refs/heads/main'

    steps:
      - name: "Restore build artifact: Storybook"
        uses: actions/download-artifact@v2
        with:
          name: storybook
          path: packages/storybook/dist/

      - name: "Continuous Integration: create reference snapshot for visual regression test"
        env:
          PERCY_TOKEN: ${{ secrets.PERCY_TOKEN }}
        run: |
          npx -p @percy/storybook@^3.3.1 percy-storybook --build_dir packages/storybook/dist/ --widths=1280
